.videoSidebar {
  position: relative;
  color: white;
  bottom: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.iconList {
  margin-right: 0.5rem;
  position: absolute;
  list-style-type: none;
  margin-bottom: 3rem;
}
.iconList > li {
  margin-top: 1rem;
  
  /* margin: 1rem 0rem; */
}
