.videoFooter {
  position: relative;
  color: white;
  bottom: 6rem;
  left: 10px;
  margin-left: 2px;
  display: flex;
  font-size: small;
}
.videoFooterText {
  flex: 1;
}

.videoFooterText > p {
  padding-bottom: 10px;
}

.videoFooterText > h3 {
  padding-bottom: 10px;
}

.Icon {
  position: absolute;
}
.ticker {
  height: fit-content;
  /* width: 60vw; */
  margin-left: 3rem;
}
