.player {
  object-fit: fill;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
}
.videoWrapper {
  scroll-snap-align: center;
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
